name: lint and build
on:
  workflow_dispatch:
  pull_request:
jobs:
  lint-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: install node
        uses: actions/setup-node@v2
        with:
          node-version: 21
      - name: install dependencies
        run: npm i --legacy-peer-deps
      - name: run lint
        run: npm run lint
      - name: run tests
        run: npm run test
      - name: run build
        run: npm run build