name: Test Workflow
on:
  push:
    branches:
      - main
      - dev
      - feature/*
      - "!feature/*-alpha"
      
jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Run echo
        run: echo "Hello world"
      - name: write branch name
        run: echo "${{github.ref_name}} is my branch name" 